<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.BoardMapper">
    <select id="boardList" resultType="domain.BoardDTO">
        SELECT title, content, view, point, name FROM board JOIN user
        ON board.user_id = user.id
        WHERE board.is_deleted = 0 AND user.is_deleted = 0
        ORDER BY board.created_at DESC
        LIMIT #{page}, 15
    </select>
    <select id="readBoard" resultType="domain.BoardDTO">
        SELECT title, content, view, point, name, board.created_at, board.updated_at  FROM board JOIN user
        ON board.user_id = user.id
        WHERE user.is_deleted = 0 AND board.id = #{boardId}
    </select>
    <select id="findBoardInTitle" resultType="domain.BoardDTO">
        SELECT title, content, view, point, name FROM board JOIN user
        ON board.user_id = user.id
        WHERE title LIKE CONCAT('%', #{sen}, '%') AND board.is_deleted = 0 AND user.is_deleted = 0
        ORDER BY board.created_at DESC
        LIMIT #{page}, 15
    </select>
    <select id="findBoardInContent" resultType="domain.BoardDTO">
        SELECT title, content, view, point, name FROM board JOIN user
        ON board.user_id = user.id
        WHERE content LIKE CONCAT('%', #{sen}, '%') AND board.is_deleted = 0 AND user.is_deleted = 0
        ORDER BY board.created_at DESC
        LIMIT #{page}, 15
    </select>
    <select id="findBoardInUser" resultType="domain.BoardDTO">
        SELECT title, content, point, view, name FROM board JOIN user
        ON board.user_id = user.id
        WHERE (name LIKE CONCAT('%', #{sen}, '%')) AND user.is_deleted = 0 AND board.is_deleted = 0
        ORDER BY board.created_at DESC
        LIMIT #{page}, 15
    </select>
    <insert id="makeBoard">
        INSERT INTO board (title, user_id, content, category_id) VALUES (#{title}, #{user_Id},#{content}, #{category_id})
    </insert>
    <update id="deleteBoard">
        UPDATE board
        SET is_deleted=1
        WHERE id = #{boardId}
    </update>
    <update id="addView">
        UPDATE board
        SET view = view+1
        WHERE id = #{boardId}
    </update>
    <update id="updateBoard">
        UPDATE board SET
        title = #{title},
        content = #{content},
        updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>
    <update id="revisePoint">
        UPDATE board
        SET point = point + #{point}
        WHERE id = #{board_id}
    </update>

</mapper>